<div class="container border border-black p-4 my-2 bg-white">
  

<div class="container border border-black p-2 my-2 bg-white">
      <h2 >Centro de Mensajes</h2>
      <div class=" p-2">        
          <div class="mb-3 row">
            <div class="col-7">
              <input type="email" class="form-control" id="id" name="id" placeholder="Ingrese un Email" >                
            </div>
            <div class="col-7 mt-2">
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su Nombre" >                
            </div>
            <div class="col-7 mt-2">
              <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su Apellido" >                
            </div>
            <div class="col-7 mt-2">
              <input type="number" class="form-control" id="edad" name="edad" placeholder="Ingrese su Edad" >                
            </div>
            <div class="col-7 mt-2">
              <input type="text" class="form-control" id="alias" name="alias" placeholder="Ingrese su Alias" >                
            </div>
            <div class="col-7 mt-2">
              <input type="text" class="form-control" id="avatar" name="avatar" placeholder="Ingrese su Avatar" >                
            </div>

            <div class="col-5 text-center">
              <button type="button" class="btn btn-success" id="btnIngresarChat">Ingresar al chat</button>            
            </div>          
          </div>

          <div id="zonaChat" class="d-none">
            <ul id="misMensajes" class="mt-2"></ul>
            <div class="mb-3">          
              <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Ingrese un Mensaje">              
            </div>

            <button id="enviar_chat" class="btn btn-primary">Enviar!</button>
          </div>
      </div>
</div>