<div class="container bg-white p-5 my-5">
    
    <form class="">        
        <h1 class="text-primary">Login de usuario</h1>
        <hr />
        <div class="mb-3">
            <label for="txtUsuario" class="form-label fw-bold">Ingrese su nombre</label>
            <input type="text" class="form-control" id="txtUsuario" placeholder="Ingrese nombre de usuario">
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-3" id="btnLogin">Enviar</button>
        </div>
  </form>
</div>