<div class="container bg-white p-5 my-5">
    
    <form class="">        
        <h1 class="text-primary">Registro de usuario</h1>
        <hr />
        <div class="mb-3">
            <label for="txtUsuarioRegistro" class="form-label fw-bold">Usuario</label>
            <input type="text" class="form-control" id="txtUsuarioRegistro" placeholder="Ingrese usuario">
        </div>
        <div class="mb-3">
            <label for="txtPasswordRegistro" class="form-label fw-bold">Passoword</label>
            <input type="password" class="form-control" id="txtPasswordRegistro" placeholder="Ingrese password">
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-3" id="btnRegistro">Registrar</button>
        </div>

        <hr>
        <div class="col-auto">
            <a class="btn btn-success mb-3" href="/login" role="button">Ir a Login</a>
        </div>

        <div class="alert alert-danger" role="alert" id="alertaRegistro"></div>
  </form>
</div>